<ion-view view-title="About">
    <ion-nav-bar class="bar-stable headerbar">
        <ion-nav-buttons side="left">
            <button class="button button-icon button-clear ion-navicon headerleftbtn" menu-toggle="left"></button>
        </ion-nav-buttons>
        <ion-nav-title class="headertitle"></ion-nav-title>
    </ion-nav-bar>
    <ion-content class="padding-left padding-right has-footer">
        <div class="about">
            <div class="homeimg"></div>
             <p style="text-align: center"> Resume v<span app-version></span></p>
             <p style="text-align: center"> currentPlatformVersion - {{currentPlatformVersion}}</p>
             <p style="text-align: center"> deviceInformation - {{deviceInformation}}</p>
             <p style="text-align: center"> isWebView - {{isWebView}}</p>
             <p style="text-align: center"> isIPad - {{isIPad}}</p>
             <p style="text-align: center"> isIOS - {{isIOS}}</p>
             <p style="text-align: center"> isAndroid - {{isAndroid}}</p>
             <p style="text-align: center"> isWindowsPhone - {{isWindowsPhone}}</p>
             <p style="text-align: center"> isWindowsPhone - {{isWindowsPhone}}</p>
             <div class="aboutContent">
                 <div class="row">
                     <div class="col">
                         <i class="fa fa-weixin"></i> wexin: Clyde1229
                     </div>
                 </div>
                 <div class="row">
                     <div class="col">
                         <i class="fa fa-qq"></i> QQ: 345237092
                     </div>
                 </div>
             </div>
        </div>
        
        
       
    </ion-content>
</ion-view>