<ion-view view-title="About">
    <ion-nav-bar class="bar-stable headerbar">
        <ion-nav-buttons side="left">
            <button class="button button-icon button-clear ion-navicon headerleftbtn" menu-toggle="left"></button>
        </ion-nav-buttons>
        <ion-nav-title class="headertitle"></ion-nav-title>
    </ion-nav-bar>
    <ion-content class="padding-left padding-right has-footer">
        <div class="about">
            <div class="homeimg"></div>
            <p style="text-align: center;"> Resume v {{appVersion}}</span></p>

            <div class="aboutContent">
                <div class="row">
                    <div class="col">
                        <i class="fa fa-weixin"></i> wexin: Clyde1229
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <i class="fa fa-qq"></i> QQ: 345237092
                    </div>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>