<ion-view view-title="Education">
    <ion-nav-bar class="bar-stable headerbar">
        <ion-nav-buttons side="left">
            <button class="button button-icon button-clear ion-navicon headerleftbtn" menu-toggle="left"></button>
        </ion-nav-buttons>
        <ion-nav-title class="headertitle"></ion-nav-title>
    </ion-nav-bar>
    <ion-content class="has-footer">
        <div class="row">
            <div class="col">
                <div class="card noBackground">
                    <div class="item item-icon-left item-divider">
                        <h2><i class="icon ion-university"></i>Auckland University of Technology</h2>
                        <p>Bachelor of Computing and Mathematical Science</p>
                    </div>
                    <div class=" item item-icon-left item-divider">
                        <i class="icon ion-android-arrow-dropright"></i>Major in Computer Science 
                    </div>

                    <div class="item item-text-wrap">
                        <p>Relevant Papers:</p>
                        <p>&nbsp;<i class="icon ion-android-done"></i> Distributed and Mobile Systems</p>
                        <p>&nbsp;<i class="icon ion-android-done"></i> Data Structures and Algorithms</p>
                        <p>&nbsp;<i class="icon ion-android-done"></i> Programming Languages</p>
                        <p>&nbsp;<i class="icon ion-android-done"></i> Program Design and Construction</p>
                        <p>&nbsp;<i class="icon ion-android-done"></i> Logical Database Design</p>
                        <p>&nbsp;<i class="icon ion-android-done"></i> Programming for Engineering Applications</p>
                    </div>
                    <div class="item item-divider" style="text-align: center;font-size: small;">
                        28th March 2011 to 18th December 2013
                    </div>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>
