<ion-view view-title="Experience">
    <ion-nav-bar class="bar-stable headerbar">
        <ion-nav-buttons side="left">
            <button class="button button-icon button-clear ion-navicon headerleftbtn" menu-toggle="left"></button>
        </ion-nav-buttons>
        <ion-nav-title class="headertitle"></ion-nav-title>
    </ion-nav-bar>
    <ion-content class="padding-left padding-right has-footer">
        <div class="card noBackground">
            <div class="item item-icon-left item-divider">
                <h2><i class="icon ion-code-working"></i>Junior Developer</h2>
                <p>TANG REN & CO. LIMITED, INCORPORATED</p>
            </div>
            <div class="item item-icon-right item-text-wrap">
                <p>
                    Working as part of a developing team responsible for determining all necessary coding 
                    requirements for a sites creation including forms, e-commerce capability and specialized scripts 
                    and participating in the full life cycle of new website development. 
                </p>
                <i class="icon ion-ios-arrow-right"></i>
            </div>
            <div class="item item-divider item-icon-right" style="text-align: center">
                May 2014 – Current
            </div>
        </div>
        <div class="card noBackground">
            <div class="item item-icon-left item-divider">
                <h2><i class="icon ion-code-working"></i>Web Developer</h2>
                <p>Ann’s Volcanic Motel</p>
            </div>
            <div class="item item-icon-right item-text-wrap">
                <p>
                    Responsible for maintaining features and capabilities of the website. Content and images update 
                    with FTP connection.  Performing Functional Testing and modification for existing code.
                </p>
                <i class="icon ion-ios-arrow-right"></i>
            </div>
            <div class="item item-divider item-icon-right" style="text-align: center">
                April 2014 – May 2014
            </div>
        </div>
        <div class="card noBackground">
            <div class="item item-icon-left item-divider">
                <h2><i class="icon ion-android-checkmark-circle"></i>Assignment Marker</h2>
                <p>Auckland University of Technology</p>
            </div>
            <div class="item item-icon-right item-text-wrap">
                <p>
                    Responsible for collection and marking assignments for Algorithm Design and Analysis. Checking 
                    performance and cheating of assignments, and report to lecturer.
                </p>
                <i class="icon ion-ios-arrow-right"></i>
                <i class="icon ion-ios-arrow-right"></i>
            </div>
            <div class="item item-divider item-icon-right" style="text-align: center">
                July 2013 – December 2013
            </div>
        </div>
    </ion-content>
</ion-view>
