<ion-side-menus>
    <ion-side-menu-content drag-content="true" class="background-right mycontent">
        <ion-nav-view name="cvContent"></ion-nav-view>
        <div class="bar bar-footer footerstyle">
            <div class="title">Copyright &#169;  2015 by Longzhen Shen</div>
        </div>
    </ion-side-menu-content>
    <ion-side-menu side="left" class="background-left leftmenu">
        <ion-header-bar align-title="center" class="bar bar-header bar-light">
            <h4 class="title">Menu</h4>
        </ion-header-bar>
        <ion-content  class="" has-subheader="false">
            <ion-list>
                <ion-item class="item item-text-wrap item-thumbnail-left summary" menu-close href="#/menus/summary"><img src="img/clyde11.png">
                    <h2 class="nav-title">Longzhen Shen</h2>
                    <h3>Java developer</h3>
                </ion-item>
                <div class="item item-divider">Resume</div>
                <ion-item class="item item-icon-left item-icon-right" menu-close href="#/menus/experience"><i class="icon ion-ios-briefcase"></i>Experience<i class="icon ion-ios-arrow-right"></i></ion-item>
                <ion-item class="item item-icon-left item-icon-right" menu-close href="#/menus/portfolio"><i class="icon ion-android-image"></i>Portfolio<i class="icon ion-ios-arrow-right"></i></ion-item>
                <ion-item class="item item-icon-left item-icon-right" menu-close href="#/menus/education"><i class="icon ion-university"></i>Education<i class="icon ion-ios-arrow-right"></i></ion-item>
                <ion-item class="item item-icon-left item-icon-right" menu-close href="#/menus/reference"><i class="icon ion-ios-people"></i>Reference<i class="icon ion-ios-arrow-right"></i></ion-item>
                <div class="item item-divider">About this app</div>
                <ion-item class="item item-icon-left" menu-close href="#/menus/about"><i class="icon ion-ios-information-outline"></i>About</ion-item>
            </ion-list>
        </ion-content>
    </ion-side-menu>


</ion-side-menus>
