<ion-view view-title="Social">
    <ion-nav-bar class="bar-stable headerbar">
        <ion-nav-buttons side="left">
            <button class="button button-icon button-clear ion-navicon headerleftbtn" menu-toggle="left"></button>
        </ion-nav-buttons>
        <ion-nav-title class="headertitle"></ion-nav-title>
    </ion-nav-bar>
    <ion-content class="padding has-footer">
        <div class="row">
            <div class="col">
                <div class="list noBackground">
                    <div class="item thing">
                        <h1><i class="icon ion-ios-person"></i></h1>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="list noBackground">
                    <div class="item thing">
                        <h1><i class="icon ion-ios-person"></i></h1>
                    </div>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>